/*
 * NEW CSS STYLES for VizJS-lib 2.x components
 */

.MetricsEvol,
.PersonMetrics,
.TimeTo {
	   height:150px;
}

.FilterItemsMetricsEvol,
.FilterItemsGlobal,
.FilterItemMetricsEvol
{
    height:200px;
}

.Bubbles,
.Radar {
    height:200px;
}
