.MetricsEvol,
.PersonMetrics,
.TimeTo {
	   height:150px;
}

.ReposMetricsEvol,
.ReposGlobal,
.RepoMetricsEvol,
.CountriesMetricsEvol,
.CountriesGlobal,
.CountryMetricsEvol,
.CompaniesMetricsEvol,
.CompaniesGlobal,
.CompanyMetricsEvol
 {
    height:200px;
}

.Bubbles,
.Radar {
    height:200px;
}
